/* General */

* {
	margin: 0;
	padding: 0;
	// border: 1px solid red;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
}

html {
	background-image: url("../images/Background.jpg");
	background-size: 200%;
	background-repeat: no-repeat;
	background-color: #141611;
	height: 100VH;
	color: white;
}


.top,
.middle,
.bottom {
	text-align: center;
}

.middle {
	background-color: rgba(0,0,0,0);
	height: 180px;
}

/*-------------- 
/  HEADER
--------------*/

.wip-Header {
	font-size: 48px;
	padding-top: 20px;
}

/*-------------- 
/  SOCIAL
--------------*/

.wip-Social-links li {
	display: inline-block;
	padding: 0 20px;
	margin-top: 30px;
}

.wip-Social-links li a {
	text-decoration: none;
}

.wip-Social-links li a:link,
.wip-Social-links li a:visited,
.wip-Social-links li a:hover,
.wip-Social-links li a:active {
	color: white;
	font-size: 36px;
}

.wip-Social-links {
	list-style: none;
}

.addBorder {
	border-right: 1px solid white;
}

.content {
	padding-top: 12px;
}

@media (max-width: 683px) {
	.wip-Header {
		font-size: 32px;
	}

	.wip-Social-links li a:link,
	.wip-Social-links li a:visited,
	.wip-Social-links li a:hover,
	.wip-Social-links li a:active {
		color: white;
		font-size: 18px;
	}

	.middle {
		background-color: rgba(0,0,0,0);
	}
}

@media (max-width: 453px) {
	.wip-Header {
		font-size: 24px;
	}

	.wip-Social-links li a:link,
	.wip-Social-links li a:visited,
	.wip-Social-links li a:hover,
	.wip-Social-links li a:active {
		color: white;
		font-size: 18px;
	}

	.wip-Social-links li {
		display: block;
		padding: 0 20px;
		margin-top: 10px;
		border: none;
	}

	.middle {
		background-color: rgba(0,0,0,0);
	}
}





