/* General */

* {
	margin: 0;
	padding: 0;
	// border: 1px solid red;
	font-size: 16px;
	font-family: 'Source Sans Pro', sans-serif;
}

html {
	background-image: url("../images/background.jpeg");
	background-size: 100%;
	background-repeat: no-repeat;
	background-color: #141611;
	height: 100VH;
}

/* Full Contact Card Styles */

.contact-card {
	width: 600px;
	margin: 10VH auto 0;
}

@media (max-width: 600px) {

	.contact-card {
		width: 100%;
		margin: 3VH auto 0;
	}

}

/*--------------
/ HEADER
/-------------*/

/* Header Image */

.profile-pic {
	padding: 10px 0;
	width: 100%;
}

@media (max-width: 600px) {

	.profile-pic {
		padding: 5px 0;
	}

}

.header-img {
	width: 80px;
	display: block;
	margin: 0 auto;
}

/* Header - Name */

.contact-card h1 {
	display: block;
	font-size: 1.5em;
	margin: 10px 0 0;
	text-align: center;
	color: white;
}

@media (max-width: 600px) {

	.contact-card h1 {
		margin: 5px 0 0;
		font-size: 1.4em;
	}

}

/* Social Icons */

.social-list {
	width: 350px;
	margin: 0 auto;
}

.logo {
	width: 50px;
	vertical-align: top;
}

.social-logos {
	width: 350px; /* Width should be 250px without border for testing purposes */
	margin: 0 auto;
	padding: 30px 0 10px;
	font-size: 0;
}

.social-logos li,
.social-logos a {
	display: inline-block;
}

.social-logos li {
	margin: 0 10px;
}

@media (max-width: 600px) {

	.logo {
		width: 40px;
	}

	.social-logos {
		padding: 20px 0 5px;
		width: 300px;
	}

}

/* Body */

.body-p {
	font-size: 0.9em;
	width: 85%;
	margin: 30px auto 10px;
	text-indent: 20px;
	min-height: calc(100VH - 380px);
	color: white;
}

@media (max-width: 600px) {

	.content-body {
		min-height: calc(100VH - 280px);
	}

}

/* Footer */

.main-footer {
	text-align: center;
	padding: 5px 0;
	color: white;
}